[Unit]
Description=Java Application as a Service

[Service]
User=ec2-user

WorkingDirectory=/home/ec2-user/javaapp/

ExecStart=/bin/bash /home/ec2-user/javaapp/runjavaapp.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

